.tag {
  width: 100%;
  text-align: center;
  cursor: default;
  position: relative;
}

.tag input {
  width: 100%;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 3px;
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: inherit;
  outline: none;
  cursor: default;
}

.tag.selected {
  background-color: hsla(var(--layer-4), 0.35);
}

.tag.focus {
  background-color: hsla(var(--layer-highlight), 0.5);
}

.tag.edit input {
  cursor: text;
}

.tag .score {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: hsla(var(--layer-4), 0.2);
  z-index: -1;
}
