/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  margin: 0;
  padding: 0;
}

:root {
  --layer-0: 220, 15%, 10%;
  --layer-1: 220, 18%, 16%;
  --layer-2: 220, 22%, 25%;
  --layer-3: 220, 30%, 36%;
  --layer-4: 220, 40%, 60%;
  --text-0: 0, 0%, 94%;
  --text-1: 0, 0%, 86%;
  --radius-0: 4px;
  --bg-transition: background-color 80ms ease-out;
  --z-0: 0;
  --z-1: 100;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  color: hsl(var(--text-0));
  background-color: hsl(var(--layer-0));
}

img {
  display: block;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--layer-3));
  border: 3px solid hsl(var(--layer-0));
  border-radius: 10px;
  min-height: 40px;
}
